<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :product, style: "display: block", class: "form-label"%>
    <%= form.text_field :product, class: "form-control"%>
  </div>
  <div>
    <%= form.label :product_link, style: "display: block", class: "form-label" %>
    <%= form.text_field :product_link, class: "form-control" %>
  </div>
  <div>
    <%= form.label :bought_price, style: "display: block", class: "form-label" %>
    <%= form.number_field :bought_price, class: "form-control" %>
  </div>
  <div>
    <%= form.label :current_value, style: "display: block", class: "form-label" %>
    <%= form.number_field :current_value, class: "form-control" %>
  </div>
  <div>
    <%= form.submit class: "btn btn-primary my-4"%>
  </div>
<% end %>
