<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= form.label :product, style: "display: block", class: "form-label"%>
    <%= form.text_field :product, class: "form-control", required: true %>
  </div>
  <div class="field form-group">
    <%= form.label :product_link, "Product Link (Optional)", class: "form-label" %>
    <%= form.text_field :product_link, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label :bought_price, style: "display: block", class: "form-label" %>
    <%= form.number_field :bought_price, class: "form-control", required: true %>
  </div>
  <div class="field form-group">
    <%= form.label :current_value, style: "display: block", class: "form-label" %>
    <%= form.number_field :current_value, class: "form-control", required: true %>
  </div>
  <div class="field form-group">
    <%= form.number_field :user_id, id: :item_user_id, class: "form-control", value: current_user.id, type: :hidden %>
  </div>
  <div>
    <%= form.submit "Add Product", class: "btn btn-primary my-4" %>
  </div>
<% end %>
