<div id="<%= dom_id item %>">
  <p>
    <strong>Product:</strong>
    <%= item.product %>
  </p>

  <p>
    <strong>Product link:</strong>
    <%= item.product_link %>
  </p>

  <p>
    <strong>Bought price:</strong>
    <%= item.bought_price %>
  </p>

  <p>
    <strong>Current value:</strong>
    <%= item.current_value %>
  </p>

</div>
